<div class="container profile-container">
    {{!--CAN WE ADD THE PERSON'S NAME HERE?--}}
    <h4 class="center monospace">Welcome back <span id="username" class="blue-text z-depth-2">{{user.first_name}}!</span></h4>
    
    {{!--User Info Area--}}
<div class="row">
    <div class="col m6 s12">
        <ul class="collection with-header z-depth-2">
            <li class="collection-header"><h4>My Info</h4></li>
            <li class="collection-item"><i class="material-icons left">account_circle</i><span id="userEmail">{{user.email}}</span></li>
            <li class="collection-item"><i class="material-icons left">add_location</i><span id="homeTown">{{user.city}}</span></li>
        </ul>
        <a href="/logout" id="logoutBtn" class="waves-effect waves-light btn red z-depth-1" style="cursor:pointer;">Logout</a>
    </div>
</div>

    {{!--Table--}}
    <div class="row">
        <table class="responsive-table profile-table col s12 center-align" id="profile-page" method="POST" action="/profile">
            <thead>
                <tr>
                    <th><span class="black-text center-align">Restaurant Name</span></th>
                    <th><span class="black-text center-align">City</span></th>
                    <th><span class="black-text center-align">Cuisine Type</span></th>
                    <th><span class="black-text center-align">Avg Cost for 2</span></th>
                    <th><span class="black-text center-align">Rating</span></th>
                </tr>
            </thead>
            <tbody class="table-body center-align"> 
                {{#each result}}
                <tr>
                    <td id="restResName"><span class="green-text text-darken-1"><a href={{this.dataValues.link}} target="_blank">{{this.dataValues.restaurant_name}}</a></span></td>
                    <td id="restResCity"><span class="green-text text-darken-1">{{this.dataValues.city}}</span></td>
                    <td id="restResCuisine"><span class="green-text text-darken-1">{{this.dataValues.cuisine_type}}</span></td>
                    <td id="restResCost"><span class="green-text text-darken-1">${{this.dataValues.budget}}</span></td>
                    <td id="restResRating"><span class="green-text text-darken-1">{{this.dataValues.rating}}</span></td>
                </tr>
                   {{/each}}
            </tbody>
        </table>
    </div>
</div>

